@import "@styles/colors"

.clients_table
    display: flex
    flex-direction: row
    flex-wrap: wrap
    margin: 110px 0
    width: 940px
    .block
        color: $white
        padding: 42px 0
        font-size: 20px
        line-height: 46px
        background: transparent
        width: 235px
        &:nth-child(-n+3)
            border-right: 1px solid white
            border-bottom: 1px solid white
        &:nth-child(4)
            border-bottom: 1px solid white
        &:nth-child(n+5)
            border-right: 1px solid white
        &:last-child
            border-right: 0px

    .more_client
        background: $blue-opacity
        text-decoration: none
        color: $white
        cursor: pointer
        border-color: transparent
        &:hover
            opacity: 0.7

@media (max-width: 1100px)
    .clients_table
        width: 700px
        .block
            width: 348px
            &:nth-child(n)
                border: 1px solid white

@media (max-width: 800px)
    .clients_table
        flex-direction: column
        align-content: center
        width: auto
        .block
            width: 400px

@media (max-width: 700px)
    .clients_table

        .block
